*{
  padding: 0%;
  margin: 0%;  
}

.navbar{
    font-size: large;
    display: flex;
    padding: 40px 15px;
    background-color: whitesmoke;
}
.logo{
    font-size: xx-large;
    color: black;
}
.app{
  display: flex; 
  color: white;
}
.left span{
  padding: 15px 30px;
  margin: 15px;
  font-size: large;
font-style: unset;
}
.right button{
  color: red;
  padding: 30px;
  margin: 15px;
}
.bottom h2{
  color: red;
  font-size: x-large;
}
.bottom h3{
  font-size: larger;
}
.bottom {
  font-size: 25px;
}
.table {
  display: flex;
  font-size: 30px;
}
.image{
  height: 500px;
  width: 200px;
  padding: 40px;
  display: flex;
  filter: grayscale();
}
.graduate{
  display: flex;
  color: whitesmoke;
  background-color: black;
  padding: 30px;
  text-align: center;
}
.grazdyate .image{
  padding: 30px;
}
.img{
  display: flex;
  background-color: black;
  padding: 40px 50px;
  width: 60px;
  height: 40px;
}
.companie{
  text-align: center;
  background-color: black;
}
.info{
  text-align: center;
}
.explore{
  text-align: center;
}
.data{
  list-style-type: circle;
  
}
.container h1{
  color: red;
  font-size: x-large;
}
.card{
  display: flex;
  padding: 30px;
  list-style-type: circle;
  border-color: blue;
  border-radius: 100%;
}
.btn{
  display: flex;
  font-size: medium;
}
.apply{
  text-align: center;
  background-color: black;
}
.apply h3{
  color: white;
}